body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* HEADER */
.header {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

/* GRID */
.main-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* PANELS */
.left-panel, .middle-panel, .right-panel {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
}

/* INPUT */
.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    padding-right: 45px;
    border-radius: 10px;
    border: none;
}

.password-container i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #cbd5f5;
}

/* STRENGTH BAR */
#strength-bar {
    height: 10px;
    background: #334155;
    border-radius: 10px;
    margin: 20px 0;
}

#strength-fill {
    height: 100%;
    width: 0%;
}

/* BUTTON */
.generate-btn {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

.generate-btn:hover {
    background: #16a34a;
}

/* COMPARISON */
.bar {
    height: 12px;
    background: #334155;
    border-radius: 10px;
    margin-bottom: 10px;
}

.fill {
    height: 100%;
    width: 0%;
    border-radius: 10px;
}

.red { background: red; }
.green { background: #22c55e; }

.generated-text {
    font-weight: bold;
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .main-layout {
        grid-template-columns: 1fr;
    }
}