<!DOCTYPE html>
<html>
<head>
    <title>SmartPass</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🔐 SmartPass</h1>
    <p>Check your password strength instantly</p>

    <input type="password" id="password" placeholder="Enter your password">

    <div id="strength-bar">
        <div id="strength-fill"></div>
    </div>

    <h3 id="strength-text"></h3>

    <ul id="feedback"></ul>
</div>

<script src="/static/script.js"></script>
</body>
</html>